{% macro user_stub(user) %}
<div class="user-stub">
    <img src="{{ user.profile_pic }}" alt="profile picture" />
    <a href="/users/{{ user.username }}">{{ user.full_name }}</a>
</div>
{% endmacro %}

{% macro user_profile(user) %}
<img src="{{ user.profile_pic }}" class="d-inline-block img-thumbnail rounded" />
<div class="card d-inline-block">
  <div class="card-block">
    <h4 class="card-title">{{ user.username }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ user.full_name }}</h6>
    <p class="card-text"><b>Email:</b> {{ user.email }}</p>
  </div>
</div>
{% endmacro %}
