{% extends 'web/layout.html' %}
{% from 'web/users/macros.html' import user_stub %}

{% block head %}
<link rel="stylesheet" href="/static/css/users.css" />
<link rel="stylesheet" href="/static/css/projects.css" />
{% endblock %}

{% from 'web/projects/macros.html' import project_icon %}

{% block content %}
<div class="card shadow m-bottom">
    <div class="card-header project-header">
        <div class="d-inline-block" >
        {{ project_icon(project) }}
        </div>
        <h1 class="d-inline-block">
            {{ project.name }}
        </h1>
    </div>
    <div class="card-block">
        {% if project.description %}
            {{ project.description | markdown }}
        {% endif %}

        <p>
            <b>Lead:</b> {{ user_stub(project.lead) }}
        </p>

        {% if project.repo %}
        <p>
            <b>Repo:</b>
            <a href="{{ project.repo }}">{{ project.repo }}</a>
        </p>
        {% endif %}

        {% if project.homepage %}
        <p>
            <b>Homepage:</b>
            <a href="{{ project.homepage }}">{{ project.homepage }}</a>
        </p>
        {% endif %}

    </div>
</div>

{% if project.tickets %}
<div class="card shadow">
    <div class="card-header" >
        <h1>Open Tickets</h1>
    </div>
    <div id="project-tickets" class="card-block">
        <div class="row">
            <div id="ticket-list" class="col-md-3">
                {% for t in project.tickets %}
                <div class="ticket-stub" id="{{ t.key }}"
                     onclick="loadPreview(this)">
                    <b>{{ t.key }}</b>
                    <p>{{ t.summary }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="preview" class="col-md-9">
                {% raw %}
                <h1 class="separator">
                    {{ summary }}

                    <a v-bind:href="url" class="btn btn-primary pull-right">Detail</a>
                </h1>
                <div v-html="description"></div>
                {% endraw %}
            </div>
        </div>
    </div>
</div>
<script src="/static/js/projects/projects.js"></script>
{% else %}
<div class="card shadow" >
    <div class="card-header" >
        <h1>No Open Tickets!</h1>
    </div>
</div>
{% endif %}
{% endblock %}
