<p class="sidebar-header">
    <b>Quick Actions</b>
</p>

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link praelatus-nav-link" href="/projects/{{ project.key }}">
            <span class="ion-android-arrow-back"></span> Back to Project
        </a>
    </li>
</ul>

<p class="sidebar-header">
    <b>Admin Tasks</b>
</p>

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link praelatus-nav-link"
           href="#details">
            Details
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link praelatus-nav-link"
           href="#roles">
            Roles
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link praelatus-nav-link"
           href="#permissions">
            Permissions
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link praelatus-nav-link"
           href="#types">
            Ticket Types
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link praelatus-nav-link"
           href="#workflows">
            Workflows
        </a>
    </li>
</ul>
