<form method="POST" action="{% url 'tickets:add_link' %}">
    {% if form.errors %}
    <p class=" label label-danger">
        {{ form.errors }}
    </p>
    {% endif %}
    <div class="form-group" >
        <label for="" >Label</label>
        <input id="label" name="label"
               class="form-control" type="text" />
    </div>
    <div class="form-group" >
        <label for="url" >URL</label>
        <input id="url" name="url"
               class="form-control" type="url" />
    </div>
</form >
