{% load markdown %}

<style>
 .ticket-list, .ticket-preview {
     height: 100%;
 }

 .tickets {
     overflow-x: hidden;
 }

 .ticket-list, .ticket-preview {
     overflow-y: scroll;
 }

 .ticket-list {
     border-right: 1px solid #ddd;
 }

 .ticket-preview .separator {
     padding-bottom: 1rem;
 }

 .ticket-stub {
     background-color: white;
     min-height: 5rem;
     padding-left: 0.5rem;
     padding-top: 1rem;
     padding-bottom: 1rem;
     overflow-x: hidden;
     overflow-y: hidden;
     border-bottom: 1px solid #ddd;
 }

 .ticket-stub:hover, .ticket-stub.active,
 .ticket-stub:hover .nav-link, .ticket-stub.active .nav-link {
     color: white;
     background-color: #59427f;
     cursor: pointer
 }

 .ticket-stub p {
     margin-bottom: 0;
 }

 .ticket-stub .nav-link {
     padding: 0;
     text-decoration: none;
     color: black;
 }
</style>

<div class="row">
    <ul id="ticket-list" class="ticket-list col-md-3 nav flex-column">
        {% for t in tickets %}
        <li class="nav-item ticket-stub ticket-stub {% if forloop.first %}active{% endif %}"
            id="{{ t.key }}">
            <a class="nav-link" href="#preview-{{ t.key }}"
               data-toggle="tab" role="tab">
                <b>{{ t.key }}</b>
                <p>{{ t.summary }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div id="preview"  class="tab-content col-md-9 ticket-preview" >
        {% for t in tickets %}
        <div id="preview-{{ t.key }}"
             role="tabpanel"
             class="tab-pane {% if forloop.first %}active{% endif %}">
            <h1 class="separator">
                {{ t.summary }}

                <a href="/tickets/{{ t.key }}"
                   class="btn btn-primary float-right">Detail</a>
            </h1>
            <div>
                {{ t.description | markdown | safe }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
