{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/static/profiles/css/profiles.css" />
{% endblock %}

{% block container %}
<div class="container" >
    <div class="element">
        {% include 'helpers/search_bar.html' %}

        {% if error %}
        <div class="alert alert-danger" >
            {{ error }}
        </div>
        {% endif %}

        <div>
            <table id="searchResults" class="table table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th>Key</th>
                        <th>Reporter</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in tickets %}
                    <tr>
                        <td>
                            <a href="/tickets/{{ t.key }}">{{ t.key}}</a>
                        </td>
                        <td>{% include 'users/user_stub.html' with user=t.reporter %}</td>
                        <td>{{ t.summary }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
