{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/users.css" />
{% endblock %}

{% block content %}
<div class="element">
    <form method="get" action="/projects/search" class="d-flex-inline flex-nowrap">
        {% include 'helpers/search_bar.html' %}
    </form>

    <div>
        <table id="searchResults" class="table table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Key</th>
                    <th>Reporter</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                {% for t in object_list %}
                <tr>
                    <td>
                        <a href="/tickets/{{ t.key }}">{{ t.key}}</a>
                    </td>
                    <td>{% include 'users/user_stub.html' with user=t.reporter %}</td>
                    <td>{{ t.summary }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
