<div id="comment-form"  class="card element" >
    <form id="comment-form" class="form comment-form"
          method="POST"
          action="/tickets/{{ ticket.key }}/comment" >
        {% csrf_token %}
        <div class="form-group">
            <label for="comment" class="sr-only">Comment</label>
            <textarea id="new-comment" name="body"
                      class="form-control"></textarea>
        </div>
        <input id="next" type="hidden" name="next"  value="{{ request.get_full_path }}" />
        <div class="row" >
            <div class="col-md-6 col-sm-12 col-xs-12" >
                Markdown is supported
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-right" >
                <input class="d-inline-block btn btn-success"
                       type="submit" value="Add Comment" />
            </div>
        </div>
    </form>
</div>

<style>
 #comment-form .form-group .CodeMirror {
     height: 200px;
 }
</style>

<script>
 var simplemde = new SimpleMDE({
     element: document.getElementById("new-comment"),
     toolbar: toolbarConfig,
 });
</script>
