{% extends 'web/layout.html' %}

{% block body %}
<div class="container-fluid d-flex justify-content-center align-items-center"
     style="background-color: #703D6F; height: 100%;">
    <div class="login-container">
        <a href="/">
            <img src="/static/img/name.svg" />
        </a>
        <div class="form-container"
             style="background-color: white; border-radius: 5px">
            {% if flash %}
            <span class="text-alert">
                {{ flash }}
            </span>
            {% endif %}
            {% include 'web/users/login_form.html' %}
        </div>
    </div>
</div>
{% endblock %}
