<ul id="loginRegister" class="nav nav-tabs login-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#login" role="tab">
            Login
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab"
           href="#register" role="tab">
            Register
        </a>
    </li>
</ul>

<div class="tab-content login-form">
    <div id="login" class="tab-pane show active" role="tabpanel">
        <form method="POST" action="/login">
            {{ login_form.csrf_token }}
            <div class="form-group">
                <label for="username">
                    Username
                </label>
                {{ login_form.username(id="username", class="form-control") }}
            </div>
            <div class="form-group">
                <label for="password">
                    Password
                </label>
                {{ login_form.password(id="password", class="form-control") }}
            </div>
            <input class="btn btn-primary" type="submit" value="Login" />
        </form>
    </div>
    <div id="register" class="tab-pane" role="tabpanel">
        <p>Edgar Allen Nope</p>
    </div>
</div>

<script>
 $('#loginRegister a[href="#register"]').tab('show');
 $('#loginRegister a[href="#login"]').tab('show');
</script>
