<form method="GET" class="d-flex-inline flex-nowrap">
    <div class="form-group">
        <div class="input-group">
            <input type="text" id="search" name="query"
                   {% if query %}value="{{ query }}"{% endif %}
                   class="form-control" placeholder="Search for..." />
            <button type="submit" class="btn d-sm-none d-md-block btn-outline-primary search-button">
              Search
            </button>
            </span>
            <button type="submit" class="btn d-md-none search-button btn-outline-primary">
              <i class="ion-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>
