{% extends 'web/layout.html' %}
<!-- style="background-color: #fbf8ef" -->

{% block content %}
<div class="ticket">
  <h4>
    <small>
      <a href="/{{ ticket.project.key }}">
        {{ ticket.project.name }}
      </a>
      / {{ ticket.key }}
    </small>
  </h4>
  <h1 class="summary">
    {{ ticket.summary }}
  </h1>

  <h1 class="ticket-separator"></h1>
  <div class="row">
    <div class="col-md-9 comments">
      {% from 'web/users/macros.html' import user_stub %}
      <div class="comment card">
        <h3 class="card-header">Description</h3>
        <div class="card-block">
          {{ ticket.description | markdown }}
        </div>
      </div>

      {% for c in ticket.comments %}
      <div class="comment card">
        <div class="card-block">
          {{ c.body | markdown }}
        </div>
        <div class="card-header author">
          <div style="display: inline-block">
            {{ user_stub(c.author) }}
          </div>
          <span style="display: inline-block">
            commented on <span>{{ c.created_date.strftime('%Y-%m-%d %-I:%M %p') }}</span>
          </span>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-md-3">
      <div class="card">
        <h3 class="card-header">Fields</h3>
        <div class="card-block">
          <p class="card-text">
            <b>Reporter:</b>
            {{ user_stub(ticket.reporter) }}
          </p>
        </div>
        <div class="card-block">
          <p class="card-text">
            <b>Assignee:</b>
            {% if ticket.assignee %}
              {{ user_stub(ticket.reporter) }}
            {% endif %}
          </p>
        </div>
        <div class="card-block">
          {% for f in ticket.fields %}
          <div class="d-flex-inline">
            <b>{{ f.field.name }}:</b>
            <p>{{ f.value }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
