.navbar-create-button {
  margin-right: 1rem;
}

.nav-item div:hover {
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.dropdown-toggle {
  cursor: pointer;
}

#userMenu1 {
  margin-left: 1rem;
}

