.sidebar-header {
  padding-left: 1rem;
}

.sidebar .nav {
  margin-bottom: 1rem;
}

.sidebar {
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

// Move content down to avoid the navbar
body {
  padding-top: 4.5rem;
}

.praelatus-nav-link, .praelatus-nav-link button, .praelatus-nav-link span {
  color: $primary-color;
}

.praelatus-nav-link.active {
  background-color: $primary-color;
  color: white;
}

.praelatus-nav-link:hover, .praelatus-nav-link:hover a, .praelatus-nav-link:hover span {
  background-color: $primary-color;
  color: white;
}
