// Utility classes we use throughout Praelatus

.text-big {
  font-size: 1.5rem;
}

.content {
  padding-top: 1rem;
}

.sm-profile-pic {
  max-height: 24px;
  max-width: 24px;
}

.text-praelatus {
  color: $primary-color;
}

