// Utility classes we use throughout Praelatus

.text-big {
  font-size: 1.5rem;
}

.content {
  padding-top: 1rem;
}

.sm-profile-pic {
  max-height: 24px;
  max-width: 24px;
}

.text-praelatus {
  color: $primary-color;
}

.mw1000 {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.mw600 {
  max-width: 600px;
}

/* Any element which needs to stand out from the background */
.element {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}

.m-bottom {
  margin-bottom: 1rem;
}
