footer {
    background-color: #41383E;
    color: white;
    width: 100%;
    padding: 3rem;
    text-align: center;
}

.footer-link {
    margin: 1em;
}

footer a {
    color: #ddd;
}

footer a:hover {
    color: #ddd;
    font-weight: bold;
    text-decoration: none;
}

footer img {
    width: 60px;
    border-radius: 20%;
    margin: 1em;
}

.face:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
