html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.lato-font {
    font-family: 'Lato', sans-serif;
}

.mont-font {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

#page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}

.content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 1em;
}

.block {
    display: block;
}

.content-container {
    width: 960px;
}

.content-center {
    margin: 0 auto;
    text-align: center;
}

.half-width {
    display:inline-block;
    width: 50%;
}
