/* Praelatus Global CSS */

.bg-praelatus {
    background-color: #703D6F;
}

.navbar {
    margin-bottom: 1rem;
}

.user-stub img {
    max-height: 24px;
    max-width: 24px;
}

.user-stub {
    max-height: 24px;
}

.ticket-separator {
    border-bottom: 1px solid #ddd;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.author {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.comment {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.author {
    border-top: 1px solid #ddd;
}

.login-form {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
}

/* Bootstrap Overrides */

.navbar .nav-link:hover {
    background-color: #995197;
}

.disabled:hover {
    background-color: #703D6F !important;
}

.content {
    min-height: 100%;
}

.navbar .nav-link {
    color: white !important;
}

.nav-tabs .nav-item {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: none;
}

.login-container {
    max-width: 500px;
}

.login-container .form-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#loginRegister {
    width: 100%;
}

.login-container img {
    width: 100%;
}

.nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #703D6F
}

.login-tabs {
    width: 100%;
    border-bottom: none;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.login-tabs .nav-item {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
}

.login-tabs .nav-item .nav-link {
    color: black;
}

.login-tabs .nav-item.active {
}
