/* Comments */

.author {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.project-icon {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}

.project-icon span {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}


.comment-form .form-group textarea {
    width: 100%;
}
