{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/static/tickets/css/tickets.css" >
{% endblock %}

{% block container %}
<div class="container">
  <div class="row">
    <div class="col-sm-8" >
      <h3 class="text-center">Recent Activity</h3>
      <div class="card-block mr-auto ml-auto" >
        {% for n in notifications %}
        <p class="element">
          <a href="/users/{{ n.actor.username }}">
            {{ n.actor.username }}
          </a>

          {{ n.verb }}

          <a href="/tickets/{{ n.action_object.key }}">
            {{ n.action_object.key }}
          </a>

          in

          <a href="/projects/{{ n.target.key }}">
            {{ n.target.name }}
          </a>

          {{ n.timestamp | date:'h:iA Y-m-d' }}
        </p>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card m-bottom">
        <h3 class="card-header text-center">
          Assigned to You
        </h3>
        <table class="table">
          <tbody>
            {% for t in assigned %}
            <tr>
              <td>
                <a href="/tickets/{{ t.key }}">
                  {{ t.key }}
                </a>
              </td>
              <td>
                {{ t.status }}
              </td>
            </tr>
            {% empty %}
            <tr>
              <td>
                Nothing here! Good work!
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card m-bottom">
        <h3 class="card-header text-center">
          Your Tickets
        </h3>
        <table class="table">
          <tbody>
            {% for t in reported %}
            <tr>
              <td>
                <a href="/tickets/{{ t.key }}">
                  {{ t.key }}
                </a>
              </td>
              <td>
                {{ t.status }}
              </td>
            </tr>
            {% empty %}
            <tr>
              <td>
                Nothing here! Maybe you should open some tickets.
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if projects %}
      <div class="card">
        <h3 class="card-header text-center">
          Your Projects
        </h3>
        <table class="table">
          <tbody>
            {% for p in projects %}
            <tr>
              <td>
                <a href="/projects/{{ p.key }}">
                  {{ p.key }}
                </a>
              </td>
              <td>
                {{ p.name }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
