<div id="fileModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Attachments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" enctype="multipart/form-data" action="/tickets/{{ ticket.key }}/attachment">
        {% csrf_token %}
        <div class="modal-body">
          {{ attachment_form.attachment.errors }} {{ attachment_form.attachment }}
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Add Attachments" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
