<form method="GET" class="d-flex-inline flex-nowrap">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <input type="text" id="search" name="query"
                   {% if query %}value="{{ query }}"{% endif %}
                   class="form-control" placeholder="Search for..." />
            <span class="input-group-btn hidden-sm-down search-button">
                <button type="submit" class="btn btn-outline-praelatus search-button">
                    Search
                </button>
            </span>
            <span class="input-group-btn hidden-md-up search-button">
                <button type="submit"
                        class="btn search-button btn-outline-praelatus">
                    <i class="ion-search" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
</form>
