<div class="form-group">
    <label for="{{ field.name }}">
        {{ field.name }}
    </label>
    {% if field.data_type == 'INTEGER' or field.data_type == 'FLOAT' %}
    <input id="{{ field.name }}" type="number"
           name="{{ field.name }}" class="form-control"  />
    {% elif field.data_type == 'OPTION' %}
    <select id="{{ field.name }}" name="{{ field.name }}" class="form-control" >
        {% for opt in field.options.all %}
        <option value="{{ opt.name }}">{{ opt.name }}</option>
        {% endfor %}
    </select>
    {% elif field.data_type == 'DATE' %}
    <input id="{{ field.name }}" name="{{ field.name }}"  type="date" class="form-control" />
    {% elif field.data_type == 'STRING' %}
    <input id="{{ field.name }}" name="{{ field.name }}"  type="text" class="form-control" />
    {% elif field.data_type == 'TEXT' %}
    <textarea id="{{ field.name }}" name="{{ field.name }}" class="form-control" ></textarea>
    {% else %}
    Error rendering field
    {% endif %}
</div>
