/* Praelatus Global CSS */

body {
  background-color: #efedf2;
}

.text-praelatus {
  color: #703D6F;
}

.bg-praelatus, .btn-praelatus {
  background-color: #703D6F;
  color: white;
}

.btn-outline-praelatus {
  border: 1px solid #703D6F;
  color: #703D6F;
  background-color: transparent;
}

.btn-outline-praelatus:hover {
  background-color: #703D6F;
  color: white;
}

/* Any element which needs to stand out from the background */
.element {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}

/* Apply the box shadow */
.shadow {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.border {
  border: 1px solid #ddd;
}

.m-bottom {
  margin-bottom: 1rem;
}

/* Make an empty div a separator line */
.separator {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Layout */

.content {
  min-height: 85%;
}

.search-bar, .search-bar input {
  width: 100%
}
