#project-tickets, #ticket-list, #preview {
  max-height: 600px;
}

#project-tickets {
    overflow-x: hidden;
}

#ticket-list, #preview {
    overflow-y: scroll;
}

#ticket-list {
    border-right: 1px solid #ddd;
}

#preview .separator {
    padding-bottom: 1rem;
}

.ticket-stub {
  background-color: white;
  padding: 1rem;
  overflow-x: hidden;
  border-bottom: 1px solid #ddd;
}

.ticket-stub:hover, .ticket-stub.active {
  color: white;
  background-color: #995197;
}

.ticket-stub p {
    margin-bottom: 0;
}
