#project-tickets, #ticket-list, #preview {
  max-height: 600px;
}

#project-tickets {
    overflow-x: hidden;
}

#ticket-list, #preview {
    overflow-y: scroll;
}

#ticket-list {
    border-right: 1px solid #ddd;
}

#preview .separator {
    padding-bottom: 1rem;
}

.ticket-stub {
  background-color: white;
  padding: 1rem;
  overflow-x: hidden;
  border-bottom: 1px solid #ddd;
}

.ticket-stub:hover, .ticket-stub.active {
  color: white;
  background-color: #995197;
  cursor: pointer;
}

.ticket-stub p {
    margin-bottom: 0;
}

.project-header > * {
    vertical-align: middle;
    margin-bottom: 0;
}

.project-icon {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}
