/* Comments */

.author {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.project-icon {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
}
