.status {
    padding: 0.1rem;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.status.state-TODO {
    color: white;
    background-color: #0000cc;
}

.status.state-IN_PROGRESS {
    color: black;
    background-color: #F6EC0A;
}

.status.state-DONE {
    color: white;
    background-color: green;
}
