{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/static/profiles/css/profiles.css" />
{% endblock %}

{% block sidebar %}
{% include 'queries/sidebar.html' with index=True %}
{% endblock %}

{% block content %}
<div class="element">
  <h2>My Queries</h2>
  <p>Your queries are saved searches for tickets. You can favorite or delete them here.</p>

<table id="UserQueries" class="table">
  <thead>
    <tr>
      <th>Query</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {% for q in queries %}
    <tr>
      <td>
        <a href="/queies/{{ q.id}}"><h3>{{ q.name }}</h3></a>
      </td>
      <td>
        <div style="float: left"; class="col-md-2">
          <a href="/queries/{{ q.id }}/favorite"
            {% if q.favorite %}
            class="btn btn-warning">  
            Unfavorite
            {% else %}
            class="btn btn-success" >
            Favorite
            {% endif %}
          </a>
        </div>
        <div style="float: left"; class="col-md-2">
          <a class="btn btn-danger" href="/queries/{{ q.id }}/delete">
            Delete
          </a>
        </div>
      </td>

      {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}
