<p class="sidebar-header">
    <b>Quick Actions</b>
</p>

<script>
function saveQuery() {
    let q = document.getElementById("search").value;
    let name = document.getElementById("name").value;
    let csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0];
    fetch('/queries?query='+q+'&name='+name, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrfToken.value
        },
        credentials: 'same-origin'
    }).
        then(function(res) {
            if(res.ok) {
                console.log('Much success!')
            } else {
                alert('Error!');
                console.log(res);
                console.log(res.text().then(console.log));
            }
        })
}
</script>

<ul id="dashnav" class="nav nav-pills flex-column" role="tablist">
    <li class="nav-item">
        <a class="nav-link praelatus-nav-link" 
            data-toggle="modal" data-target="#saveModal">
            Save Query
        </a>
    </li>

    {% for q in reqeust.user.favorite_queries %}
    <li class="nav-item">
        <a class="nav-link praelatus-nav-link">
            {{ q.name }}
        </a>
    </li>
    {% endfor %}
</ul>
